@import url('https://rsms.me/inter/inter.css');

/*
 * Variables
 */

:root {
  --font-family: 'Inter', sans serif;
  /* Color variables */
  --color-bg: #eee;
  --color-1: #ccc;
  --color-2: #999;
  --color-3: #888;
  --color-4: #777;
  --color-5: #666;
  --color-primary: #333;
}

[data-theme='dark'] {
  --color-bg: #0f0f0f;
  --color-1: #222;
  --color-2: #333;
  --color-3: #444;
  --color-4: #555;
  --color-5: #666;
  --color-primary: #eee;
}

/*
 * Reset
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Base
 */

html {
  font-size: 62.5%;
}

body {
  display: flex;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: 1.6rem;
  min-height: 100vh;
}

/*
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0.8rem 0;
}

a,
button {
  background-color: inherit;
  color: inherit;
}

a[href^="https://"]::after
{
  content: '↗';
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input {
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

select {
  font-size: inherit;
}
